In [1]:
import pandas as pd
import numpy as np
professions = pd.read_csv('../course-files/prestige.csv', index_col='name')

In [2]:
professions

                           education  income  women  prestige  census  type
name
gov.administrators             13.11   12351  11.16      68.8    1113  prof
general.managers               12.26   25879   4.02      69.1    1130  prof
accountants                    12.77    9271  15.70      63.4    1171  prof
purchasing.officers            11.42    8865   9.11      56.8    1175  prof
chemists                       14.62    8403  11.68      73.5    2111  prof
physicists                     15.64   11030   5.13      77.6    2113  prof
biologists                     15.09    8258  25.65      72.6    2133  prof
architects                     15.44   14163   2.69      78.1    2141  prof
civil.engineers                14.52   11377   1.03      73.1    2143  prof
mining.engineers               14.64   11023   0.94      68.8    2153  prof
surveyors                      12.39    5902   1.91      62.0    2161  prof
draughtsmen                    12.30    7059   7.83      60.0    2163  prof
computer.programers            13.83    8425  15.33      53.8    2183  prof
economists                     14.44    8049  57.31      62.2    2311  prof
psychologists                  14.36    7405  48.28      74.9    2315  prof
social.workers                 14.21    6336  54.77      55.1    2331  prof
lawyers                        15.77   19263   5.13      82.3    2343  prof
librarians                     14.15    6112  77.10      58.1    2351  prof
vocational.counsellors         15.22    9593  34.89      58.3    2391  prof
ministers                      14.50    4686   4.14      72.8    2511  prof
university.teachers            15.97   12480  19.59      84.6    2711  prof
primary.school.teachers        13.62    5648  83.78      59.6    2731  prof
secondary.school.teachers      15.08    8034  46.80      66.1    2733  prof
physicians                     15.96   25308  10.56      87.2    3111  prof
veterinarians                  15.94   14558   4.32      66.7    3115  prof
osteopaths.chiropractors       14.71   17498   6.91      68.4    3117  prof
nurses                         12.46    4614  96.12      64.7    3131  prof
nursing.aides                   9.45    3485  76.14      34.9    3135    bc
physio.therapsts               13.62    5092  82.66      72.1    3137  prof
pharmacists                    15.21   10432  24.71      69.3    3151  prof
...                              ...     ...    ...       ...     ...   ...
canners                         7.42    1890  72.24      23.2    8221    bc
textile.weavers                 6.69    4443  31.36      33.3    8267    bc
textile.labourers               6.74    3485  39.48      28.8    8278    bc
tool.die.makers                10.09    8043   1.50      42.5    8311    bc
machinists                      8.81    6686   4.28      44.2    8313    bc
sheet.metal.workers             8.40    6565   2.30      35.9    8333    bc
welders                         7.92    6477   5.17      41.8    8335    bc
auto.workers                    8.43    5811  13.62      35.9    8513    bc
aircraft.workers                8.78    6573   5.78      43.7    8515    bc
electronic.workers              8.76    3942  74.54      50.8    8534    bc
radio.tv.repairmen             10.29    5449   2.92      37.2    8537    bc
sewing.mach.operators           6.38    2847  90.67      28.2    8563    bc
auto.repairmen                  8.10    5795   0.81      38.1    8581    bc
aircraft.repairmen             10.10    7716   0.78      50.3    8582    bc
railway.sectionmen              6.67    4696   0.00      27.3    8715    bc
electrical.linemen              9.05    8316   1.34      40.9    8731    bc
electricians                    9.93    7147   0.99      50.2    8733    bc
construction.foremen            8.24    8880   0.65      51.1    8780    bc
carpenters                      6.92    5299   0.56      38.9    8781    bc
masons                          6.60    5959   0.52      36.2    8782    bc
house.painters                  7.81    4549   2.46      29.9    8785    bc
plumbers                        8.33    6928   0.61      42.9    8791    bc
construction.labourers          7.52    3910   1.09      26.5    8798    bc
pilots                         12.27   14032   0.58      66.1    9111  prof
train.engineers                 8.49    8845   0.00      48.9    9131    bc
bus.drivers                     7.58    5562   9.47      35.9    9171    bc
taxi.drivers                    7.93    4224   3.59      25.1    9173    bc
longshoremen                    8.37    4753   0.00      26.1    9313    bc
typesetters                    10.00    6462  13.58      42.2    9511    bc
bookbinders                     8.55    3617  70.87      35.2    9517    bc

[102 rows x 6 columns]

In [3]:
professionsOriginal = professions.copy()

In [4]:
professions.rename(columns={'women': 'women_percentage', 'prestige': 'prestige_indicator'})

,education,income,women_percentage,prestige_indicator,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof
physicists,15.64,11030,5.13,77.6,2113,prof
biologists,15.09,8258,25.65,72.6,2133,prof
architects,15.44,14163,2.69,78.1,2141,prof
civil.engineers,14.52,11377,1.03,73.1,2143,prof
mining.engineers,14.64,11023,0.94,68.8,2153,prof
surveyors,12.39,5902,1.91,62.0,2161,prof
draughtsmen,12.30,7059,7.83,60.0,2163,prof
computer.programers,13.83,8425,15.33,53.8,2183,prof
economists,14.44,8049,57.31,62.2,2311,prof
psychologists,14.36,7405,48.28,74.9,2315,prof
social.workers,14.21,6336,54.77,55.1,2331,prof
lawyers,15.77,19263,5.13,82.3,2343,prof
librarians,14.15,6112,77.10,58.1,2351,prof
vocational.counsellors,15.22,9593,34.89,58.3,2391,prof
ministers,14.50,4686,4.14,72.8,2511,prof
university.teachers,15.97,12480,19.59,84.6,2711,prof
primary.school.teachers,13.62,5648,83.78,59.6,2731,prof
secondary.school.teachers,15.08,8034,46.80,66.1,2733,prof
physicians,15.96,25308,10.56,87.2,3111,prof
veterinarians,15.94,14558,4.32,66.7,3115,prof
osteopaths.chiropractors,14.71,17498,6.91,68.4,3117,prof
nurses,12.46,4614,96.12,64.7,3131,prof
nursing.aides,9.45,3485,76.14,34.9,3135,bc
physio.therapsts,13.62,5092,82.66,72.1,3137,prof
pharmacists,15.21,10432,24.71,69.3,3151,prof
...,...,...,...,...,...,...
canners,7.42,1890,72.24,23.2,8221,bc
textile.weavers,6.69,4443,31.36,33.3,8267,bc
textile.labourers,6.74,3485,39.48,28.8,8278,bc
tool.die.makers,10.09,8043,1.50,42.5,8311,bc
machinists,8.81,6686,4.28,44.2,8313,bc
sheet.metal.workers,8.40,6565,2.30,35.9,8333,bc
welders,7.92,6477,5.17,41.8,8335,bc
auto.workers,8.43,5811,13.62,35.9,8513,bc
aircraft.workers,8.78,6573,5.78,43.7,8515,bc
electronic.workers,8.76,3942,74.54,50.8,8534,bc
radio.tv.repairmen,10.29,5449,2.92,37.2,8537,bc
sewing.mach.operators,6.38,2847,90.67,28.2,8563,bc
auto.repairmen,8.10,5795,0.81,38.1,8581,bc
aircraft.repairmen,10.10,7716,0.78,50.3,8582,bc
railway.sectionmen,6.67,4696,0.00,27.3,8715,bc
electrical.linemen,9.05,8316,1.34,40.9,8731,bc
electricians,9.93,7147,0.99,50.2,8733,bc
construction.foremen,8.24,8880,0.65,51.1,8780,bc
carpenters,6.92,5299,0.56,38.9,8781,bc
masons,6.60,5959,0.52,36.2,8782,bc
house.painters,7.81,4549,2.46,29.9,8785,bc
plumbers,8.33,6928,0.61,42.9,8791,bc
construction.labourers,7.52,3910,1.09,26.5,8798,bc
pilots,12.27,14032,0.58,66.1,9111,prof
train.engineers,8.49,8845,0.00,48.9,9131,bc
bus.drivers,7.58,5562,9.47,35.9,9171,bc
taxi.drivers,7.93,4224,3.59,25.1,9173,bc
longshoremen,8.37,4753,0.00,26.1,9313,bc
typesetters,10.00,6462,13.58,42.2,9511,bc
bookbinders,8.55,3617,70.87,35.2,9517,bc

In [5]:
professions.rename(index={'general.managers': 'managers', 'accountants': 'bookkeepers'})

                           education  income  women  prestige  census  type
name
gov.administrators             13.11   12351  11.16      68.8    1113  prof
managers                       12.26   25879   4.02      69.1    1130  prof
bookkeepers                    12.77    9271  15.70      63.4    1171  prof
purchasing.officers            11.42    8865   9.11      56.8    1175  prof
chemists                       14.62    8403  11.68      73.5    2111  prof
physicists                     15.64   11030   5.13      77.6    2113  prof
biologists                     15.09    8258  25.65      72.6    2133  prof
architects                     15.44   14163   2.69      78.1    2141  prof
civil.engineers                14.52   11377   1.03      73.1    2143  prof
mining.engineers               14.64   11023   0.94      68.8    2153  prof
surveyors                      12.39    5902   1.91      62.0    2161  prof
draughtsmen                    12.30    7059   7.83      60.0    2163  prof
computer.programers            13.83    8425  15.33      53.8    2183  prof
economists                     14.44    8049  57.31      62.2    2311  prof
psychologists                  14.36    7405  48.28      74.9    2315  prof
social.workers                 14.21    6336  54.77      55.1    2331  prof
lawyers                        15.77   19263   5.13      82.3    2343  prof
librarians                     14.15    6112  77.10      58.1    2351  prof
vocational.counsellors         15.22    9593  34.89      58.3    2391  prof
ministers                      14.50    4686   4.14      72.8    2511  prof
university.teachers            15.97   12480  19.59      84.6    2711  prof
primary.school.teachers        13.62    5648  83.78      59.6    2731  prof
secondary.school.teachers      15.08    8034  46.80      66.1    2733  prof
physicians                     15.96   25308  10.56      87.2    3111  prof
veterinarians                  15.94   14558   4.32      66.7    3115  prof
osteopaths.chiropractors       14.71   17498   6.91      68.4    3117  prof
nurses                         12.46    4614  96.12      64.7    3131  prof
nursing.aides                   9.45    3485  76.14      34.9    3135    bc
physio.therapsts               13.62    5092  82.66      72.1    3137  prof
pharmacists                    15.21   10432  24.71      69.3    3151  prof
...                              ...     ...    ...       ...     ...   ...
canners                         7.42    1890  72.24      23.2    8221    bc
textile.weavers                 6.69    4443  31.36      33.3    8267    bc
textile.labourers               6.74    3485  39.48      28.8    8278    bc
tool.die.makers                10.09    8043   1.50      42.5    8311    bc
machinists                      8.81    6686   4.28      44.2    8313    bc
sheet.metal.workers             8.40    6565   2.30      35.9    8333    bc
welders                         7.92    6477   5.17      41.8    8335    bc
auto.workers                    8.43    5811  13.62      35.9    8513    bc
aircraft.workers                8.78    6573   5.78      43.7    8515    bc
electronic.workers              8.76    3942  74.54      50.8    8534    bc
radio.tv.repairmen             10.29    5449   2.92      37.2    8537    bc
sewing.mach.operators           6.38    2847  90.67      28.2    8563    bc
auto.repairmen                  8.10    5795   0.81      38.1    8581    bc
aircraft.repairmen             10.10    7716   0.78      50.3    8582    bc
railway.sectionmen              6.67    4696   0.00      27.3    8715    bc
electrical.linemen              9.05    8316   1.34      40.9    8731    bc
electricians                    9.93    7147   0.99      50.2    8733    bc
construction.foremen            8.24    8880   0.65      51.1    8780    bc
carpenters                      6.92    5299   0.56      38.9    8781    bc
masons                          6.60    5959   0.52      36.2    8782    bc
house.painters                  7.81    4549   2.46      29.9    8785    bc
plumbers                        8.33    6928   0.61      42.9    8791    bc
construction.labourers          7.52    3910   1.09      26.5    8798    bc
pilots                         12.27   14032   0.58      66.1    9111  prof
train.engineers                 8.49    8845   0.00      48.9    9131    bc
bus.drivers                     7.58    5562   9.47      35.9    9171    bc
taxi.drivers                    7.93    4224   3.59      25.1    9173    bc
longshoremen                    8.37    4753   0.00      26.1    9313    bc
typesetters                    10.00    6462  13.58      42.2    9511    bc
bookbinders                     8.55    3617  70.87      35.2    9517    bc

[102 rows x 6 columns]

In [6]:
professionsOriginal.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [7]:
professions.loc['chemists', 'type'] = 'scientist'

In [8]:
professions.head()

                     education  income  women  prestige  census       type
name
gov.administrators       13.11   12351  11.16      68.8    1113       prof
general.managers         12.26   25879   4.02      69.1    1130       prof
accountants              12.77    9271  15.70      63.4    1171       prof
purchasing.officers      11.42    8865   9.11      56.8    1175       prof
chemists                 14.62    8403  11.68      73.5    2111  scientist

In [9]:
is_scientist = professions.type == 'scientist'

In [10]:
professions.loc[is_scientist, 'prestige'] = 90

In [11]:
professions.head()

                     education  income  women  prestige  census       type
name
gov.administrators       13.11   12351  11.16      68.8    1113       prof
general.managers         12.26   25879   4.02      69.1    1130       prof
accountants              12.77    9271  15.70      63.4    1171       prof
purchasing.officers      11.42    8865   9.11      56.8    1175       prof
chemists                 14.62    8403  11.68      90.0    2111  scientist

In [12]:
professions.loc[is_scientist, 'income'] *= 1.5

In [13]:
professions[is_scientist]

          education   income  women  prestige  census       type
name
chemists      14.62  12604.5  11.68      90.0    2111  scientist

In [14]:
professions = pd.read_csv('../course-files/prestige.csv')
dict = {'name': 'data scientist', 'income': np.NaN, 'women': np.NaN, 'prestige': np.NaN, 'census': np.NaN, 'type': np.NaN}

In [15]:
dict

{'name': 'data scientist',
 'income': nan,
 'women': nan,
 'prestige': nan,
 'census': nan,
 'type': nan}

In [16]:
professions = professions.append(dict, ignore_index=True)

In [17]:
professions.tail()

               name  education  income  women  prestige  census type
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data scientist        NaN     NaN    NaN       NaN     NaN  NaN

In [18]:
taxi = professions.query('name == "taxi.drivers"')

In [19]:
taxi

            name  education  income  women  prestige  census type
98  taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc

In [20]:
professions.drop(98, inplace=True)

In [21]:
professions.tail()

               name  education  income  women  prestige  census type
97      bus.drivers       7.58  5562.0   9.47      35.9  9171.0   bc
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data scientist        NaN     NaN    NaN       NaN     NaN  NaN

In [22]:
professions = professions.append(taxi)

In [23]:
professions.tail()

               name  education  income  women  prestige  census type
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data scientist        NaN     NaN    NaN       NaN     NaN  NaN
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc

In [24]:
del professions['census']

In [25]:
professions.drop(columns='type', inplace=True)

In [26]:
professions.head()

                  name  education   income  women  prestige
0   gov.administrators      13.11  12351.0  11.16      68.8
1     general.managers      12.26  25879.0   4.02      69.1
2          accountants      12.77   9271.0  15.70      63.4
3  purchasing.officers      11.42   8865.0   9.11      56.8
4             chemists      14.62   8403.0  11.68      73.5