In [1]:
import pandas as pd
import numpy as np

In [2]:
mcd = pd.read_csv('../course-files/Mcdonalds.csv', usecols=['Category', 'Item', 'Calories', 'TotalFat'])

In [3]:
mcd.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [4]:
mcd.to_csv('mcd-1.csv', index=False)

In [5]:
mcd.to_csv('mcd-2.csv', index=False, quotechar='"')

In [6]:
mcd.to_csv('mcd-3.csv', index=False, quotechar='"', decimal=',')

In [7]:
mcd.to_csv('mcd-4.csv', index=False, quotechar='"', decimal=',', sep=';')

In [8]:
mcd.to_csv('mcd-5.csv', index=False, quotechar='"', decimal=',', sep=';', columns=['Item', 'Calories'])

In [9]:
mcd.to_json('mcd-6.json')

In [10]:
pd.read_json('mcd-6.json').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [11]:
html = mcd.to_html()

In [12]:
import io

In [13]:
with io.open('mc-7.html', "w", encoding="utf-8") as file:
    file.write(html)

In [17]:
ew = pd.ExcelWriter('mcd-excel.xls')

In [18]:
mcd.to_excel(ew, index=False, sheet_name='Menu')

In [19]:
ew.save()

In [20]:
imported = pd.read_excel('mcd-excel.xls', sheet_name='Menu')

In [21]:
imported['Calories'] /= 2

In [22]:
imported.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [23]:
imported.to_excel(ew, index=False, sheet_name='Menu Light')

In [24]:
imported['Calories'] /= 2

In [25]:
imported.to_excel(ew, index=False, sheet_name='Menu Extra Light')

In [26]:
ew.save()

In [27]:
final = pd.read_excel('mcd-excel.xls', sheet_name=['Menu', 'Menu Light', 'Menu Extra Light'])

In [28]:
final['Menu'].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [29]:
final['Menu Light'].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [30]:
final['Menu Extra Light'].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0