In [1]:
import pandas as pd
import numpy as np
survey = pd.read_csv('../course-files/StackOverflowDeveloperSurvey2018.csv', usecols=['Country','Gender','OperatingSystem'],  low_memory=False)

In [2]:
survey.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [3]:
survey.Country.is_unique

False

In [4]:
survey.Country.nunique()

183

In [5]:
len(survey.Country.unique())

184

In [6]:
survey.Country.unique()

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia',
       'Ireland', 'France', 'Ukraine', 'Denmark', 'Dominican Republic',
       'China', 'Latvia', 'Algeria', 'Colombia', 'Japan', 'Finland',
       'Romania', 'Brazil', 'Bulgaria', 'Iran, Islamic Republic of...',
       'Nepal', 'Bangladesh', 'Pakistan', 'Canada', 'Jordan', 'Portugal',
       'Italy', 'New Zealand', 'Turkey', 'Czech Republic', 'Viet Nam',
       'Austria', 'Egypt', 'Malaysia', 'Mozambique', 'Thailand',
       'Slovakia', 'Lebanon', 'Mexico', 'Hong Kong (S.A.R.)', 'Norway',
       'Myanmar', 'Switzerland', 'South Korea', 'Hungary', 'Armenia',
       'Kazakhstan', 'United Arab Emirates', 'Singapore', 'Qatar',
       'Bosnia and Herzegovina', 'Bahrain', 'Sri Lanka', 'Cambodia',
       'Serbia', 'Philippines', 'Peru', 'Botswana', 'Paraguay', 'Georgia',
       'Uruguay', 'Belarus', 'Lithuania', 'Afghanistan', 'Estonia',
       'Malta', 'Costa Rica', 'Ghana', 'Taiwan', 'Morocco', 'Albania',
       'Saudi Arabia', 'Slovenia', 'Uzbekistan', 'Republic of Korea',
       'El Salvador', 'Iceland', 'Venezuela, Bolivarian Republic of...',
       'Nicaragua', 'Other Country (Not Listed Above)', 'Tunisia',
       'The former Yugoslav Republic of Macedonia',
       'Micronesia, Federated States of...', 'Madagascar', 'Rwanda',
       'Yemen', 'Uganda', 'United Republic of Tanzania', 'Cameroon',
       'Cuba', 'Ethiopia', 'Oman', 'Ecuador', 'Angola',
       'Republic of Moldova', 'Honduras', 'Azerbaijan', 'Cyprus',
       'Bhutan', 'Guatemala', 'Syrian Arab Republic', 'Kuwait',
       'Luxembourg', 'Jamaica', 'Zimbabwe', 'San Marino', 'Fiji',
       'Liechtenstein', 'Burundi', 'Bolivia', 'Mauritius', 'Somalia',
       'Montenegro', 'Mongolia', 'Sudan', 'Maldives', 'Turkmenistan',
       'Panama', 'Barbados', 'Lesotho', 'Namibia', 'Gabon', 'Kyrgyzstan',
       'Swaziland', 'Antigua and Barbuda', 'Marshall Islands',
       'Trinidad and Tobago', 'Senegal', 'Iraq', 'Haiti', 'Malawi',
       'Benin', 'Libyan Arab Jamahiriya', 'Tajikistan',
       'Democratic Republic of the Congo', 'Andorra', 'Guinea',
       "CÃ´te d'Ivoire", 'Bahamas', 'Central African Republic', 'Monaco',
       'Gambia', 'Sierra Leone', 'Togo', 'Palau', 'Zambia', 'Grenada',
       'Burkina Faso', 'Belize', 'Congo, Republic of the...', 'Suriname',
       'Timor-Leste', 'Dominica', 'Solomon Islands', 'Saint Lucia',
       'Niger', 'Guyana', 'Nauru', 'Mauritania', 'Mali', 'Liberia',
       'Brunei Darussalam', 'North Korea', 'Cape Verde', 'Eritrea',
       "Democratic People's Republic of Korea", 'Djibouti', nan,
       'Guinea-Bissau'], dtype=object)

In [7]:
duplicates_keep_first = survey.duplicated(subset='Country')

In [8]:
survey[~duplicates_keep_first].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [9]:
len(survey[~duplicates_keep_first])

184

In [10]:
survey.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [11]:
survey[survey.Country == 'Poland']

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN

In [12]:
survey = pd.read_csv('../course-files/StackOverflowDeveloperSurvey2018.csv', usecols=['Country','Gender','OperatingSystem'],  low_memory=False)

In [13]:
nr_poland = len(survey.query('Country == "Poland"'))

In [14]:
len(survey.query('Country == "Poland" and OperatingSystem == "Linux-based"'))

451

In [15]:
nr_female_poland = len(survey.query('Country == "Poland" and Gender == "Female"'))

In [16]:
print("percentage of female surveys in Poland: ", nr_female_poland/nr_poland * 100, '%')

percentage of female surveys in Poland:  3.4401508011310082 %

In [17]:
female_all = len(survey.query('Gender == "Female"'))

In [18]:
print('percentage of female in all surveys: ', female_all/len(survey) * 100, '%')

percentage of female in all surveys:  4.071620049567548 %

In [19]:
linux_users = len(survey.query('OperatingSystem == "Linux-based"'))

In [20]:
print('linux users percentage: ', linux_users/len(survey) * 100, '%')

linux users percentage:  17.88882706995094 %

In [21]:
survey = pd.read_csv('../course-files/StackOverflowDeveloperSurvey2018.csv', usecols=['DevType', 'Salary', 'OperatingSystem', 'IDE'] , low_memory=False)

In [22]:
survey.head()

,DevType,Salary,IDE,OperatingSystem
0,Full-stack developer,NaN,Komodo;Vim;Visual Studio Code,Linux-based
1,Database administrator;DevOps specialist;Full-...,51000,IPython / Jupyter;Sublime Text;Vim,Linux-based
2,Engineering manager;Full-stack developer,NaN,NaN,NaN
3,Full-stack developer,NaN,Visual Studio;Visual Studio Code,Windows
4,Data or business analyst;Desktop or enterprise...,260000,Notepad++;Visual Studio;Visual Studio Code,Windows

In [41]:
survey.dropna(subset=['DevType', 'Salary'], inplace=True)

In [42]:
data_scientist = survey['DevType'].str.lower().str.contains('data scientist')

In [66]:
data_scientists_or_other = survey[data_scientist].copy()

In [67]:
data_scientists.head()

,DevType,IDE,OperatingSystem,Salary
62,Back-end developer;Data scientist or machine l...,Notepad++;Vim,BSD/Unix,120000.0
86,Back-end developer;Data scientist or machine l...,IPython / Jupyter;Sublime Text,Windows,120000.0
126,Data scientist or machine learning specialist,Atom;Eclipse;IntelliJ,Windows,25000.0
131,Back-end developer;Data or business analyst;Da...,PyCharm,Linux-based,12000.0
136,Back-end developer;Data scientist or machine l...,Visual Studio;Visual Studio Code,Windows,37000.0

In [68]:
data_scientists['IDE'].value_counts()

Vim                                                                                                                                     115
RStudio                                                                                                                                  70
IPython / Jupyter;Vim                                                                                                                    63
Notepad++;Visual Studio                                                                                                                  61
Sublime Text                                                                                                                             45
Notepad++;Visual Studio;Visual Studio Code                                                                                               42
Emacs                                                                                                                                    39
Visual Studio;Visual Studio Code                                                                                                         37
IPython / Jupyter;Sublime Text                                                                                                           34
Visual Studio                                                                                                                            32
IPython / Jupyter;Sublime Text;Vim                                                                                                       32
IPython / Jupyter;PyCharm                                                                                                                32
Notepad++                                                                                                                                31
IPython / Jupyter;RStudio                                                                                                                30
Notepad++;RStudio                                                                                                                        28
Atom;Vim                                                                                                                                 26
Visual Studio Code                                                                                                                       25
IPython / Jupyter;Visual Studio Code                                                                                                     25
Atom;IPython / Jupyter                                                                                                                   25
Sublime Text;Vim                                                                                                                         23
IPython / Jupyter                                                                                                                        22
RStudio;Sublime Text                                                                                                                     22
Atom                                                                                                                                     21
Emacs;IPython / Jupyter                                                                                                                  21
IntelliJ;IPython / Jupyter;PyCharm;Vim                                                                                                   20
PyCharm                                                                                                                                  19
IntelliJ                                                                                                                                 19
IntelliJ;Vim                                                                                                                             19
IPython / Jupyter;PyCharm;Vim                                                                                                            18
IPython / Jupyter;RStudio;Vim                                                                                                            17
                                                                                                                                       ...
Eclipse;Notepad++;PyCharm;RStudio;Visual Studio                                                                                           1
Android Studio;Eclipse;IntelliJ;IPython / Jupyter;Notepad++;PyCharm;Sublime Text;Vim                                                      1
NetBeans;RStudio                                                                                                                          1
Android Studio;Visual Studio;Visual Studio Code;Xcode                                                                                     1
Eclipse;IPython / Jupyter;PyCharm;Vim;Visual Studio                                                                                       1
Atom;Komodo;Notepad++;RStudio                                                                                                             1
Emacs;IntelliJ;Notepad++;Sublime Text;Vim;Visual Studio;Xcode                                                                             1
Android Studio;Atom;Xcode                                                                                                                 1
Android Studio;IPython / Jupyter;PyCharm;RStudio;Sublime Text                                                                             1
Atom;Eclipse;IPython / Jupyter;Komodo;NetBeans;Notepad++;PyCharm;RStudio;Sublime Text;Vim;Visual Studio;Visual Studio Code                1
Eclipse;Emacs;IntelliJ;Vim                                                                                                                1
Android Studio;NetBeans;Notepad++;Visual Studio;Visual Studio Code                                                                        1
Atom;IntelliJ;Notepad++;PHPStorm;PyCharm;Vim                                                                                              1
Light Table;Notepad++;PyCharm;RStudio;Sublime Text;Vim                                                                                    1
IPython / Jupyter;Notepad++;PyCharm;Sublime Text;Vim                                                                                      1
Eclipse;IntelliJ;IPython / Jupyter;PyCharm;RStudio;Visual Studio;Visual Studio Code                                                       1
Android Studio;Atom;Eclipse;IntelliJ;IPython / Jupyter;NetBeans;Notepad++;PHPStorm;Sublime Text;Vim;Visual Studio;Visual Studio Code      1
Atom;Eclipse;IPython / Jupyter;Vim                                                                                                        1
Android Studio;Eclipse;IntelliJ;Notepad++;PyCharm;Sublime Text;Visual Studio Code                                                         1
Notepad++;RStudio;Sublime Text;Vim                                                                                                        1
Atom;Eclipse;IPython / Jupyter;Sublime Text;Visual Studio                                                                                 1
Android Studio;Emacs;IntelliJ;IPython / Jupyter;Vim                                                                                       1
Atom;Emacs;IPython / Jupyter;RStudio;Visual Studio Code                                                                                   1
Android Studio;Vim;Visual Studio                                                                                                          1
Eclipse;IntelliJ;NetBeans;Visual Studio Code                                                                                              1
Eclipse;IPython / Jupyter;Notepad++                                                                                                       1
Eclipse;Emacs;IntelliJ;Vim;Visual Studio                                                                                                  1
IPython / Jupyter;Notepad++;Vim;Visual Studio;Visual Studio Code                                                                          1
Atom;Eclipse;IPython / Jupyter;Notepad++;Sublime Text;Vim;Visual Studio;Visual Studio Code                                                1
IntelliJ;IPython / Jupyter;Notepad++;PyCharm;Sublime Text;Visual Studio                                                                   1
Name: IDE, Length: 1547, dtype: int64

In [69]:
data_scientists['OperatingSystem'].value_counts()

Windows        1539
Linux-based    1284
MacOS          1019
BSD/Unix          8
Name: OperatingSystem, dtype: int64

In [70]:
ds_only = data_scientists[data_scientists['DevType'] == 'Data scientist or machine learning specialist']

In [71]:
ds_only.head()

,DevType,IDE,OperatingSystem,Salary
126,Data scientist or machine learning specialist,Atom;Eclipse;IntelliJ,Windows,25000.0
347,Data scientist or machine learning specialist,PyCharm;RStudio;Sublime Text;Vim,MacOS,113000.0
393,Data scientist or machine learning specialist,IPython / Jupyter;Notepad++;RStudio,Windows,2500.0
576,Data scientist or machine learning specialist,RStudio;Sublime Text;Vim,Linux-based,34000.0
802,Data scientist or machine learning specialist,IntelliJ;IPython / Jupyter;RStudio;Sublime Tex...,MacOS,300000.0

In [73]:
ds_only['IDE'].value_counts()

RStudio                                                                                           21
Vim                                                                                               12
IPython / Jupyter;Vim                                                                             12
IPython / Jupyter;PyCharm                                                                          9
Sublime Text                                                                                       9
IPython / Jupyter;RStudio                                                                          9
Emacs                                                                                              9
IPython / Jupyter;Sublime Text;Vim                                                                 8
IPython / Jupyter                                                                                  7
Atom;IPython / Jupyter                                                                             7
RStudio;Vim                                                                                        6
IPython / Jupyter;Notepad++;RStudio                                                                6
PyCharm                                                                                            6
IPython / Jupyter;Sublime Text                                                                     6
Notepad++;RStudio                                                                                  5
IntelliJ;Vim                                                                                       5
Emacs;RStudio                                                                                      5
IPython / Jupyter;PyCharm;RStudio;Sublime Text                                                     5
Emacs;IPython / Jupyter                                                                            5
PyCharm;RStudio                                                                                    5
RStudio;Sublime Text                                                                               5
IPython / Jupyter;Visual Studio Code                                                               4
Atom;IPython / Jupyter;PyCharm                                                                     4
IPython / Jupyter;PyCharm;RStudio;Sublime Text;Vim                                                 4
Visual Studio Code                                                                                 4
IPython / Jupyter;RStudio;Vim                                                                      4
Atom;IPython / Jupyter;Notepad++;RStudio                                                           4
Atom;IPython / Jupyter;RStudio                                                                     4
Notepad++                                                                                          3
Visual Studio                                                                                      3
                                                                                                  ..
IntelliJ;IPython / Jupyter;Notepad++;PyCharm                                                       1
IPython / Jupyter;RStudio;Sublime Text;Vim;Visual Studio Code                                      1
Eclipse;IPython / Jupyter;Sublime Text                                                             1
RStudio;Sublime Text;Xcode                                                                         1
Atom;Eclipse;IPython / Jupyter;Notepad++;PyCharm;Sublime Text;Visual Studio;Visual Studio Code     1
IPython / Jupyter;Vim;Xcode                                                                        1
IPython / Jupyter;Notepad++;PyCharm;RStudio                                                        1
IPython / Jupyter;Sublime Text;TextMate                                                            1
IPython / Jupyter;Vim;Visual Studio                                                                1
Android Studio;Atom;IntelliJ;IPython / Jupyter;PyCharm                                             1
Atom;Emacs;IPython / Jupyter;PyCharm;Vim                                                           1
IntelliJ;NetBeans;PyCharm;Visual Studio                                                            1
IPython / Jupyter;PyCharm;Visual Studio Code                                                       1
IntelliJ;Notepad++;PyCharm;Sublime Text                                                            1
IPython / Jupyter;Notepad++;PyCharm;Visual Studio                                                  1
Atom;IntelliJ;IPython / Jupyter;PyCharm;Vim                                                        1
IntelliJ;PyCharm;Sublime Text                                                                      1
PyCharm;Vim;Visual Studio Code                                                                     1
Eclipse;Emacs;IntelliJ;Notepad++;PyCharm                                                           1
IntelliJ;IPython / Jupyter;PyCharm;Sublime Text;Visual Studio;Visual Studio Code                   1
Emacs;IntelliJ;IPython / Jupyter;PyCharm;RStudio                                                   1
Atom;PyCharm                                                                                       1
Eclipse;IntelliJ;NetBeans;Notepad++;PyCharm;Vim                                                    1
Android Studio;IntelliJ;RStudio;Visual Studio                                                      1
IPython / Jupyter;PyCharm;Sublime Text;Visual Studio                                               1
Android Studio;Atom;Visual Studio;Visual Studio Code                                               1
Notepad++;PyCharm;RStudio;Vim;Visual Studio;Visual Studio Code                                     1
Eclipse;Visual Studio;Visual Studio Code                                                           1
Atom;Notepad++                                                                                     1
Emacs;Visual Studio                                                                                1
Name: IDE, Length: 263, dtype: int64

In [74]:
ds_only['OperatingSystem'].value_counts()

MacOS          171
Windows        164
Linux-based    160
Name: OperatingSystem, dtype: int64